<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>环境配置</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<form role="form">
    <div class="form-group">
        <label for="name">选择用例集执行环境</label>
        <select class="form-control">
            <option>预发布环境</option>
            <option>测试环境</option>
        </select>
        <button id="env" class="btn btn-large btn-primary" style="margin-right: 250px;margin-right: 1px; margin-top: 6px" type="submit">
            提交
        </button>
    </div>
</form>

</body>
</html>