<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试集</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Autox平台</h1>
    <p>自动化测试从这里开始</p>
</div>
    <div class="panel-body">
        功能待开发~
    </div>
</body>
</html>